<mat-grid-list cols="2" rowHeight="250px">
  <div class="btn-wrapper">
    <mat-grid-tile
      ><button mat-stroked-button (click)="onButtonClicked('brief')">
        BRIEF
      </button></mat-grid-tile
    >
    <mat-grid-tile
      ><button mat-stroked-button (click)="onButtonClicked('pressemitteilung')">
        PRESSEMITTEILUNG
      </button></mat-grid-tile
    >
    <mat-grid-tile
      ><button mat-stroked-button (click)="onButtonClicked('dokument')">
        DOKUMENT
      </button></mat-grid-tile
    >
    <mat-grid-tile
      ><button mat-stroked-button (click)="onButtonClicked('protokoll')">
        PROTOKOLL
      </button></mat-grid-tile
    >
  </div>
</mat-grid-list>
